<%= form_for :session, url: session_path do |form| %>
  <div class="form-inputs login">
    <div class="input">
      <%= form.text_field :email, type: "email", placeholder: "Email", class: "pure-u-1-1" %>
    </div>
    <div class="input">
      <%= form.password_field :password, placeholder: "Password", class: "pure-u-1-1" %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit class: "btn btn-main" %>
  </div>
<% end %>

<ul class="plain-list auth-alt">
  <li><%= link_to t(".forgot_password"), new_password_path %></li>
</ul>
