<div class="title">
  Attachment on story <a href="<%= result.story_url %>"><%= result.story.name %></a> in <a href="<%= result.project_url %>"><%= result.project.name %></a>
</div>

<div class="content">
  <div class="attachment-file">
    <div class="file-preview">
      <img src="<%= result.attachment_image %>" alt="<%= result.searchable.name %>" width="59">
    </div>
    <span class="file-name"><%= result.searchable.name %></span>
    <span class="file-size"><%= result.searchable.file_size %></span>
  </div>
</div>

<div class="actions">
  <a href="<%= result.url %>">View Attachment</a>
</div>