<td class="avatar">
  <%= present(n.actioner).avatar(30) %>
</td>

<td class="content">
  <p><strong><%= n.actioner.display_name %></strong> mentioned you in a story: <%= link_to n.story.name, [n.project, n.story] %>, in <%= link_to n.project.name, n.project %></p>

  <div class="details">
    <%= markdownify n.notifiable.description %>
  </div>
</td>