<%= simple_form_for @project, html: {class: "pure-form pure-form-stacked"} do |f| %>
  <%= render 'shared/form_errors', object: f.object %>

  <section class="info">
    <%= f.input :name, label: "Project Name" %>
    <%= f.association :users, as: :check_boxes, label_method: :username, label: "Invite team members" %>
  </section>

  <footer>
    <%= f.submit class: "btn btn-main" %>
  </footer>
<% end %>
