<%= simple_form_for @project, html: {class: "pure-form pure-form-stacked"} do |f| %>
  <%= render 'shared/form_errors', object: f.object %>

  <section class="info">
    <%= f.input :name, label: "Project Name" %>
    <% if all_other_users.any? %>
      <%= f.association :users, collection: all_other_users, as: :check_boxes, label_method: :username, label: "Invite team members" %>
    <% end %>
  </section>

  <footer>
    <%= f.submit class: "btn btn-main" %>
  </footer>
<% end %>
