<h1>
  <%= @story.name %>
  <small><%= link_to @story.project.name, @story.project %></small>
</h1>

<div>
  <p>
    <%= present(@story.owner).full_name %> added <%= human_time @story.created_at %>
    <% if can? :edit, @story %>
      <span>Edit</span>
    <% end %>
  </p>
</div>

<div>
  <%= markdownify(@story.description) %>
</div>