<td class="avatar">
  <%= present(model.owner).avatar(30) %>
</td>

<td class="content">
  <p><strong><%= model.owner.username %></strong> created the story: <%= link_to model.name, [model.project, model] %>, in <%= link_to model.project.name, model.project %></p>

  <div class="details">
    <%= markdownify model.description %>
  </div>
</td>