<div class="avatar">
  <%= presents(model.owner).avatar(30) %>
</div>

<div class="content">
  <p><%= model.owner.username %> created a task on the story <%= model.story.name %>, in <%= model.story.project.name %>:</p>
  <p><%= model.label %></p>
</div>