<a href="<%= link_to %>">
  <div class="owner-details">
    <img src="<%= owner_avatar_url %>" class="avatar" alt="<%= owner_name %>" /> <%= owner_name %>
  </div>

  <div class="details">
    created a story: <em><%= story.name %></em>
  </div>
</a>