<% if (project && story) { %>
    <li <%= seen ? '' : 'class="unseen"' %>>
        <a href="<%= link_to %>">
          <div class="owner-details">
            <img src="<%= actioner_avatar_url %>" class="avatar" alt="<%= actioner_name %>" /> <%= actioner_name %>
          </div>

          <div class="details">
            assigned a task to you in <em><%= story.name %></em>
          </div>
        </a>
    </li>
<% } %>