<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "pure-form pure-form-stacked"}) do |f| %>
  <div class="form-inputs">
    <%= f.input :login, as: :string, required: false, autofocus: true, input_html: {class: "pure-u-1-1"} %>
    <%= f.input :password, required: false, input_html: {class: "pure-u-1-1"} %>
    <%= f.input :remember_me, as: :boolean, label_html: {class: "pure-checkbox"} if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "pure-button pure-button-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
