<div class="tasks">
    <ul>
    <% tasks.each do |task| %>
        <li>
            <%= simple_form_for task, url: project_story_task_path(task.project, task.story, task) do |f| %>
                <%= f.input :completed, label: false %>
                <%= task.label %>
                <% if task.due_at.present? %>
                    <span class="due_at"><%= task.due_at.to_date.strftime('%e %b, %Y') %></span>
                <% end %>

                (in <%= link_to task.story.name, [task.project, task.story] %> / <%= link_to task.project.name, task.project %>)
            <% end %>
        </li>
    <% end %>
    </ul>
</div>