<ul class="team-list">
  <% @team_members.each do |team_user| %>
    <% present(team_user.user) do |user| %>
      <li class="<%= team_user.display_role %>">
        <%= link_to_unless team_user.invited_to_sign_up?, user.avatar, user.profile_path %>
        <h4>
          <%= link_to_unless team_user.invited_to_sign_up?, user.display_name, user.profile_path %>
          <small>(<%= team_user.display_role %>)</small>
        </h4>
      </li>
    <% end %>
  <% end %>
  <li>
    <a href="<%= new_team_path %>">
      <%= image_tag "add-new-user.png", width: 100, class: "avatar" %>
      <h4>Invite someone new</h4>
    </a>
  </li>
</ul>
