<ul class="team-list">
  <% present_collection(@team_members).each do |user| %>
    <li class="<%= user.display_role %>">
      <%= link_to team_path(user.user.username) do %>
        <%= user.avatar %>
      <% end %>
      <h4>
        <%= link_to user.display_name, team_path(user.user.username) %>
        <small>(<%= user.display_role %>)</small>
      </h4>
    </li>
  <% end %>
  <li>
    <a href="<%= new_team_path %>">
      <%= image_tag "add-new-user.png", width: 100, class: "avatar" %>
      <h4>Invite someone new</h4>
    </a>
  </li>
</ul>
