<% present(@user) do |user| %>
  <div class="account-profile <%= @team_member.display_role %>">
    <h1 class="<%= 'job-title' if user.user.job_title.present? %>">
      <%= user.avatar %>
      <%= user.display_name %>

      <small>(<%= @team_member.display_role %>)</small>

      <% if user.user.job_title.present? %>
        <span><%= user.user.job_title %></span>
      <% end %>
    </h1>

    <hr>

    <ul>
      <li>Email: <%= mail_to user.user.email %></li>
      <% if user.user.phone.present? %>
        <li>Phone: <%= user.user.phone %></li>
      <% end %>
      <% if user.user.skype.present? %>
        <li>Skype: <%= link_to user.user.skype, "skype:#{user.user.skype}?userinfo" %></li>
      <% end %>
    </ul>

    <% if user.user.bio.present? %>
      <%= markdownify user.user.bio %>
    <% end %>
  </div>
<% end %>

<% if can?(:update, @team_member) && (@user != current_user) %>

  <hr>

  <%= simple_form_for @team_member, url: team_path(@user.username), method: :put do |f| %>
    <%= f.input :role, as: :select, collection: TeamUser.roles %>
    <div class="form-actions">
      <%= f.submit class: "btn btn-main" %>
    </div>
  <% end %>

  <hr>

  <%= link_to team_path(@user.username), class: "icon-link link-large danger", method: :delete, data: { confirm: "Are you sure?" } do %>
    <span class="icon icon-trash"></span>
    Remove user from team
  <% end %>
<% end %>
