<h2>Inviting a team member</h2>

<%= simple_form_for @user, url: team_invites_path do |f| %>
  <%= render 'shared/form_errors', object: f.object %>


  <%= f.input :email, as: :email, label: "Their email address is:" %>

  <%= f.association :projects, collection: current_user.projects, as: :check_boxes, label: "Add them to the following projects:" %>

  <%= f.button :submit, "Invite" %>
<% end %>
