<div class="copy">
  <h1>Setup <%= app_name %></h1>
  <p>Thanks for trying <%= app_name %>.<br>Setup your admin account below and you’re ready to get started!</p>
</div>
<%= simple_form_for(@admin, url: setup_path) do |f| %>
  <div class="form-inputs">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 left">
        <%= f.input :first_name, autofocus: true %>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 right">
        <%= f.input :last_name, required: true %>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 left">
        <%= f.input :username, as: :string, required: true %>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 right">
        <%= f.input :email, as: :email, required: true %>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 left">
        <%= f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 right">
        <%= f.input :password_confirmation, required: true %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Complete Setup", class: "btn btn-main" %>
  </div>
<% end %>
