<div class="title">
  Comment on story <a href="<%= result.story_url %>"><%= result.story.name %></a> in <a href="<%= result.project_url %>"><%= result.project.name %></a>
</div>

<div class="content">
  <%= result.searchable.content %>
</div>

<div class="actions">
  <a href="<%= result.url %>">View Comment</a>
</div>