<!DOCTYPE html>
<html ng-app="OpenHq">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

  <title><%= app_name %></title>
  <link rel="shortcut icon" href="<%= image_path 'favicon.png' %>">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700,300,600,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <base href="/"><%# angular base url %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="MainController" ng-click="closeDialogs()">
  <div id="main-content">
    <header class="app-header">
      <div class="page-container">
        <span class="close-cross mobile-only">&times;</span>
        <menu>
          <% if signed_in? %>
            <div class="main-menu-item search" ng-controller="MainController" ng-click="openSearchSidebar()">
              <span class="icon search"></span>
            </div>
            <notifications-dropdown></notifications-dropdown>
            <%# = render "shared/team_switcher" if multisite_install? %>
            <%# = render "shared/signed_in_menu" %>
          <% else %>
            <ul class="h-list">
              <li><a href="/sign_up">Sign up</a></li>
            </ul>
          <% end %>
        </menu>

        <nav>
          <ul>
            <% if current_team.present? %>
            <li class="brand"><a href="/"><%= current_team.name %></a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/files">Files</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/me">Me</a></li>
            <li class="mobile-only"><a href="#">Settings</a></li>
            <li class="mobile-only"><a href="#">Sign out</a></li>
            <% else %>
            <li class="brand"><a href="/">Open HQ</a></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="page-container">
      <%= yield %>
    </div>
  </div><!-- #main-content -->

  <search-sidebar></search-sidebar>

  <script type="text/javascript">
    // Must be set before ember is loaded
    var apiToken = "<%= ApiToken.for(current_user, current_team).token %>";
  </script>
  <%= javascript_include_tag 'application' %>
</body>
</html>
