<!DOCTYPE html>
<html>
<head>
  <title><%= app_name %></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700,300,600,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="app-header">
    <div class="page-container">
      <menu>
        <% present current_user do |user| %>
          <div class="ui-dropdown-menu">
            <span class="title noselect"><%= user.display_name %><span class="arrow"></span></span>
            <ul class="dropdown">
              <li><%= link_to(t("user.account"), edit_account_path) %></li>
              <% if can?(:update, Settings) %>
              <li><%= link_to(t("settings"), edit_settings_path) %></li>
              <% end %>
              <li><%= link_to(t("auth.sign_out"), destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </div>
        <% end %>
      </menu>

      <nav>
        <ul>
          <li class="brand"><%= link_to app_name, root_url %></li>
          <li><%= link_to t('projects'), projects_path %></li>
          <li><%= link_to t('files'), files_path %></li>
          <li><%= link_to t('team'), team_index_path %></li>
        </ul>
      </nav>
    </div>
  </header>


  <div class="page-container">
    <%= render 'shared/flash_messages' %>

    <%= yield %>
  </div>

  <script type="text/javascript">
    <% cache :all_emojis_list do %>
    App.emojis = <%== MultiJson.dump(Emoji.all.map(&:name)) %>;
    <% end %>
    <% cache User.all_cache_key do %>
    App.users = <%== MultiJson.dump(ActiveModel::ArraySerializer.new(User.all, each_serializer: PublicUserSerializer, root: false), pretty: true) %>;
    <% end %>
  </script>

</body>
</html>
