<!DOCTYPE html>
<html>
<head>
  <title><%= app_name %></title>
  <%# <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet" type="text/css"> %>
  <script src="//use.typekit.net/yzt3svm.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="setup">

  <div class="page-container">
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </div>

</body>
</html>
